.mine{
    display: flex;
    padding: 20px 30px;
    box-sizing: border-box;
    padding-bottom: 200px;
    font-size: 13px;
}
.mine>div{
    background: #ffffff;
}
.mine-left{
    text-align: center;
    margin-right: 20px;
    height: 470px;
    padding-bottom: 20px;
}
.mine-ul{
    width: 150px;
}
.mine-ul li,.mine p{
    margin-bottom: 8px;
   
}
.mine p{
    font-size: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.mine-ul li {
    cursor: pointer;
    color: #686868;
    padding: 3px 0px;
}
.mine-right{
    width: 820px;
    height: 540px;
    padding: 30px;
}
.mine-right-ul{
    position: relative;
    height: 100%;
}
.mine-right-ul>li{
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
}
.mine-right-ul .open{
    display: block;
}
.mine-right-ul .opened{
    display: block;
}
.act{
    background: #4DCD3C;
}
.head{
    padding-bottom: 40px;
    border-bottom: 1px solid #EEEEEE;
}
.head,.head-left{
    display: flex;
    justify-content: space-between;
}
.head-left img{
    width: 130px;
    height: 130px;
}
.head-border{
    border: 1px solid #DFE1E5;
    margin-right: 20px;
    position: relative;
}
.edit-head{
    width: 100%;
    padding: 5px 0;
    text-align: center;
    position: absolute;
    bottom: 0;
    cursor: pointer;
    color: #ffffff;
    left: 0;
    background: rgba(0,0,0,0.6)
}
.head-left>div{  
    padding: 5px;
    color:#686868; 
}
.head-name{
    margin-top: 25px;
    font-size: 16px;
    color: black;
    cursor: pointer;
}
.head-right section{
    margin-top: 20px;
}
.edit-ipone{
    padding: 1px 8px;
    color: #ffffff;
    letter-spacing: 3px;
    font-weight: normal;
    margin-left: 30px;
    background: #F35806;
}
.pay{
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
}
.pay-img{
    display: flex;
    width: 50%;
    margin-bottom: 20px;
}
.pay-img img{
    width: 85px;
    height: 85px;
}
.plan-pay{
    padding: 20px 10px;
}
.plan-pay div{
    margin-bottom: 10px;
    font-size: 12px;
    color:#686868; 
}
.plan-pay .paln-big{
    font-size: 15px;
}
/* 我的订单 */
.order{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #CDCDCD;
}
.div-head{
   font-size: 0;
}
.div-head input{
    border:1px solid #d1cfcf;
    padding: 8px 25px 8px 8px;
    font-size: 12px;
    color: #eeeeee;
    vertical-align: top;
}
.div-head button{
    height: 32px;
    padding: 0 3px;
    border:1px solid #d1cfcf;
}
.list{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.list-class{
    display: flex;
    cursor: pointer;
    border: 1px solid #8EDB83;
}
.select{
    background: #3BC029;
    color: #ffffff;
}
.list-class div{
    padding: 3px 10px;
    border-right: 1px solid #8EDB83;
}
.list-class div:last-child{
    border-right: none;
}
.list-num input{
    border: 1px solid #D3D3D3;
    padding: 3px;
    width: 30px;
    text-align: center;
}
.list-num{
    width: 110px;
    display: flex;
    justify-content: space-between;
}
.num{
    padding: 3px;
    font-size: 15px;
    background: #3BC029;
    color: #ffffff;
}
.operate{
    width: 100%;
    padding: 5px;
    background: #F0F0F0;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ordered{
    position: relative;
    height: 100%
}
.order-list{
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
}
.order-list>li{
    margin-top: 10px;
}
.checked{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: #C7F3C0;
    padding: 3px 5px;
}
.shop-list{
    display: flex;
    align-items: center;
    width: 270px;
    justify-content: space-between;
}
.shop-img{
    width: 90px;
    height: 85px;
    padding: 8px;
    margin-left: 20px;
    box-sizing: border-box;
    border: 1px solid #F3F3F3;
}
.shop-img img{
    width: 100%;
    height: 100%;
}
.shopping p{
    padding: 0;
    font-size: 12px;
}
.shopping{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #F3F3F3;
}
/* 我的订阅 */
.goods-list li{
    width: 21% !important;
}
/* 我的收藏 */
.view{
    padding: 2px 15px;
    border: 1px solid #8ADE7F;
    background: #ffffff;
    border-radius: 3px;
    color: #8ADE7F;
}
/* 收货地址 */
.add{
    margin-top: 10px;
}
.adress{
    cursor: pointer;
    padding: 5px 15px;
    background: #3BC029;
    color: #ffffff;
    border-radius: 3px;
}
.add-color{
    color: #FE8722;
}
.detail{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.detail-div{
    width: 30%;
    overflow: hidden;
    padding: 10px;
    color: #9A9A9A;
    border: 1px solid #E8E8E8;
}
.big{
    font-size: 14px;
    color: #000000;
    font-weight: bold;
}
.default{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.default button{
    padding: 2px 5px;
    background: #D5FFCF;
    color: #3BC029;
    border: 1px solid #3BC029;
    border-radius: 3px;
}
.right-div{
    float: right;
}
.right-color{
    color: #59A9FC;
    cursor: pointer;
}
/* 发票 */
.invoice-color{
    color: red;
}
.invoice{
    margin-top: 10px;
}
.invoice label{
    width: 91px;
    display: inline-block;
}
.invoice input{
    border: 1px solid #F2F2F2;
    border-radius: 3px;
    height: 25px;
    width: 200px;
}
.tips{
    padding: 10px 20px;
    background: #F1F1F1;
    margin-top: 10px;
}
.submit{
    padding: 3px 10px;
    background: #3BC029;
    color: #ffffff;
    border-radius: 3px;
    margin-top: 10px;
    margin-left: 10%;
}
.tips p{
    padding: 0;
}